[build]
  command = "npm install"
  functions = "functions"
  publish = "public"

[dev]
  command = "node functions/api.js"
  publish = "public"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
